#   What is a Class?
    *   A class is a blueprint for creating objects.
    *   It defines attributes (data) and methods (functions) that the objects will have.
    *   Think of a class as a template (like a house plan), and an object as the house built from that template.

#  Key Concepts
    *  Attributes vs Methods
        *   Attributes = variables attached to an object.
        *   Methods = functions defined inside the class that operate on the object.
    *   The self Keyword
        *   Refers to the current instance of the class.
        *   Lets methods access attributes and other methods.
    *  __init__ Method
        *  Runs automatically when you create a new object.
        *  Used to initialize attributes.

✅ 1. Attributes(use method)

In [1]:
class Wells:
    def set_name(self,name):
        self.name=name

In [2]:
well1=Wells()
well1.set_name("PQ1")

In [3]:
well1.name

'PQ1'

✅ 2. Add more attributes (use method)

In [4]:
class Wells:
    def set_name(self,name):
        self.name=name
    def set_type(self,type):
        self.type=type

In [5]:
well1=Wells()
well1.set_name("PQ1")
well1.set_type("production")

In [7]:
well2=Wells()
well2.set_name("PQ2")
well2.set_type("exploration")

In [6]:
well1.name,well1.type

('PQ1', 'production')

In [8]:
well2.name,well2.type

('PQ2', 'exploration')

✅ 3. Attributes (use constructor(__init__))

In [9]:
class Wells:
    def __init__(self,name,type):
        self.name=name
        self.type=type

In [11]:
w1=Wells("PQ1","production")
w1.name,w1.type

('PQ1', 'production')

In [12]:
w2=Wells("PQ2","exploration")
w2.name,w2.type

('PQ2', 'exploration')

##   Class vs Instance Attributes
    *   Instance Attributes: Belong to each object separately.
    *   Class Attributes: Shared by all objects.

In [19]:
class Well:
    total_wells = 0  # class attribute

    def __init__(self, name, block, production):
        self.name = name
        self.block = block
        self.production = production
        Well.total_wells += 1  # count wells created

In [20]:
well1 = Well("Well_1", "A", 300)
well2 = Well("Well_2", "B", 400)
print(Well.total_wells)  # Output: 2

2

    *   class attributes when access by instance will belong to that instance only, cannot change class attribute

In [22]:
well1.total_wells,well2.total_wells

(2, 2)

In [ ]:
well1.total_wells=10 # only change for well1

In [24]:
well1.total_wells,well2.total_wells

(10, 2)

✅ 4. Behavior (Method)

In [26]:
class Wells:
    def __init__(self,name,type,monthly_production):
        self.name=name
        self.type=type
        self.monthly_production=monthly_production
    def daily_production(self):
        return self.monthly_production/30

✅ 5.Special Methods (Dunder Methods)

    *   __str__ → controls what print(object) shows
    *   __repr__ → “official” string representation
    *   __len__, __eq__, __add__ → allow objects to behave like built-in types.
    *   __getitem__, __setitem__ → Cho phép truy cập như list/dict: obj[key]
    *   __eq__, __lt__, __add__ … → Cho phép so sánh & toán tử ==, <, +

In [ ]:
class Well:
    def __init__(self, name, block, production):
        self.name = name
        self.block = block
        self.production = production
    def __str__(self):
        return f"Well {self.name} in block {self.block}"
    def __repr__(self):
        return f"Well(name={self.name!r}, block={self.block!r}, production={self.production!r})"
    def __len__(self):
        return len(self.name)
    def __eq__(self, other):   
        return self.production == other.production
    def __add__(self, other):   
        return self.production + other.production
    def __getitem__(self, key):
        if key in self.__dict__:
            return self.__dict__[key]
        raise KeyError(f"{key} is not a valid attribute")
    def __setitem__(self, key, value):
        if key in self.__dict__:
            self.__dict__[key] = value
        else:
            raise KeyError(f"{key} is not a valid attribute")

In [54]:
well1 = Well("Well_1", "A", 300)
well2 = Well("Well_2", "B", 400)

In [57]:
well1.__dict__

{'name': 'Well_1', 'block': 'A', 'prod_data': 300}

In [56]:
Well.__dict__

mappingproxy({'__module__': '__main__',
              '__init__': <function __main__.Well.__init__(self, name, block, prod_data)>,
              '__str__': <function __main__.Well.__str__(self)>,
              '__eq__': <function __main__.Well.__eq__(self, other_well)>,
              '__add__': <function __main__.Well.__add__(self, other_well)>,
              '__setitem__': <function __main__.Well.__setitem__(self, key, value)>,
              '__getitem__': <function __main__.Well.__getitem__(self, key)>,
              '__dict__': <attribute '__dict__' of 'Well' objects>,
              '__weakref__': <attribute '__weakref__' of 'Well' objects>,
              '__doc__': None,
              '__hash__': None})

In [49]:
well1==well2

False

In [50]:
well1+well2

700

In [51]:
well1["name"]

'Well_1'

In [52]:
print(well1)

Well_1

In [60]:
well1 = Well("Well_1",300)
well2 = Well("Well_2",400)

# Class vs instance method

*       __init__(): dùng khi bạn biết chính xác từng tham số

*       @classmethod: dùng khi bạn cần xử lý / chuẩn hóa dữ liệu đầu vào trước khi tạo đối tượng

In [98]:
class Well:
    def __init__(self, name: str, pressure: float):
        self.name = name
        self.pressure = pressure
    @classmethod
    def from_string(cls, data_str):
        name, pressure = data_str.split(",")
        return cls(name.strip(), float(pressure.strip()))
    @staticmethod
    def psi_to_bar(psi):
        return psi * 0.0689476

In [100]:
w1=Well("A",1234)
w2=Well.from_string("B,456")

In [101]:
w1

#   Inheritance
    *   A class can inherit from another class → it gets all the attributes and methods from the parent.

In [63]:
class Well:
    """Base class for all wells"""
    total_wells = 0

    def __init__(self, name, block, production):
        self.name = name
        self.block = block
        self.production = production
        Well.total_wells += 1

    def update_production(self, new_rate):
        self.production = new_rate
        print(f"{self.name} production updated to {self.production} bbl/day")

    def report(self):
        return f"Well {self.name} in block {self.block} produces {self.production} bbl/day"

In [64]:
well1 = Well("Well_1", "A", 300)
well2 = Well("Well_2", "B", 400)

In [65]:
well1.report()

'Well Well_1 in block A produces 300 bbl/day'

In [66]:
well2.report()

'Well Well_2 in block B produces 400 bbl/day'

✅ Subclass 1: OffshoreWell

In [67]:
class OffshoreWell(Well):
    def __init__(self, name, block, production,platform):
        super().__init__(name, block, production) #call parent constructor
        self.platform=platform
    # override parent method    
    def report(self):  
        return (f"Offshore Well {self.name} on {self.platform} "
                f"produces {self.production} bbl/day")
    #add more method(only for offshore)
    def get_well_name(self):
        return self.name

In [68]:
class OnshoreWell(Well):
    """Subclass for onshore wells"""
    def __init__(self, name, block, production, terrain):
        super().__init__(name, block, production)
        self.terrain = terrain  # desert, forest, etc.

    def report(self):  # override parent method
        return (f"Onshore Well {self.name} in {self.terrain} terrain "
                f"produces {self.production} bbl/day")
     #add more method(only for onshore)    
    def get_block(self):
        return self.block

In [74]:
w1 = OffshoreWell("Well_A", "Block-01", 500, "Platform X")
w2 = OnshoreWell("Well_B", "Block-02", 300, "Desert")

print(w1.report())
print(w2.report())

w1.update_production(600)  # method inherited from Well
print(f"Total wells: {Well.total_wells}")

print(w1.get_well_name())
print(w2.get_block())

Offshore Well Well_A on Platform X produces 500 bbl/day
Onshore Well Well_B in Desert terrain produces 300 bbl/day
Well_A production updated to 600 bbl/day
Total wells: 14
Well_A
Block-02

# Example: add created time for a dataframe

In [75]:
import pandas as pd

In [77]:
df=pd.DataFrame({"A":[1,2,3,4,5],"B":[10,12,13,13,1]})

In [78]:
df

   A   B
0  1  10
1  2  12
2  3  13
3  4  13
4  5   1

In [79]:
class UserPandas(pd.DataFrame):
    pass

In [80]:
df_mod=UserPandas({"A":[1,2,3,4,5],"B":[10,12,13,13,1]})

In [81]:
df_mod

   A   B
0  1  10
1  2  12
2  3  13
3  4  13
4  5   1

In [82]:
from datetime import datetime

In [95]:
class UserPandas(pd.DataFrame):
    def __init__(self,*args,**kwargs):
        super().__init__(*args,*kwargs)
        self.create_time=datetime.today()

In [96]:
df_mod_date=UserPandas({"A":[1,2,3,4,5],"B":[10,12,13,13,1]})

In [97]:
df_mod_date.create_time

datetime.datetime(2025, 8, 1, 8, 6, 39, 303144)

#   Why Use Classes?
✅ Organizes code (groups data + behavior)

✅ Easier to manage complex systems (OOP design)

✅ Enables reusability via inheritance

✅ Makes code more readable and maintainable